@import './Mixins.scss'; // Mixins import
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css'; // Icons import

// Bootstrap theming


@import '../node_modules/bootstrap/scss/bootstrap'; // Bootstrap import


// General

html{
    scroll-behavior: smooth;
}

.pointer{
    cursor: pointer;
}

.debuger-size{
    height: 200vh;
}

.btn-link{
    background-color: transparent;
    border: 0;
}

.title{
    font-size: 1.2rem;

    @include media-breakpoint-up(md){
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(lg){
        font-size: 2rem;    
    }

}

.subtitle{
    font-size: 1rem;

    @include media-breakpoint-up(md){
        font-size: 1.3rem;
    }

    @include media-breakpoint-up(lg){
        font-size: 1.8rem;    
    }

}

.subicon{
    font-size: 0.8rem;

    @include media-breakpoint-up(md){
        font-size: 0.9rem;
    }

    @include media-breakpoint-up(lg){
        font-size: 1rem;    
    }

}

// Components


.Maintenance{
    display: flex;
    height: 100vh;
    width:  100vw;
    justify-content: center;
    align-items: center;
}

.Header{
    $sm-left-margin: 15px;
    $sm-top-margin: 25px;
    $sm-width: 75px;

    $left-margin: 25px;
    $width: 125px;

    .name{
        margin-left: $sm-left-margin + $sm-width + 5px;
        margin-top: 5px;
        @include media-breakpoint-up(lg){
            margin-left: $left-margin + $width + 10px;
        }
    }

    i{
        font-size: 1.25rem;
    }

    .fixed-profile{
        position: fixed;
        top: $sm-top-margin;
        left: $sm-left-margin;
        z-index: 99;
        @include desktop(){
            left: $left-margin;
        }
        img{
            width: $sm-width; 
            @include desktop(){
                width: $width; 
            }
            border-radius: 50%;
            border: 5px solid map-get($theme-colors, 'dark');
            z-index: 99;
            position: relative;
        }
        .back{
            margin-left: 5px;
            @include off()
        }
        .back.active{
            @include on()
        }
    }
}

.content-index{
    position: fixed;
    right:20px;
    top: 25vh;
    z-index: 99;

    .index-body{
        height: 0px;
        transition: height 0.5s;

        *{
            display: none;
        }

        &.active{
            height: 150px;
            *{
                display: initial;
            }
            li{
                display: list-item;
            }
        }
    }
}
