@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css'; // Icons import

// General

html{
    scroll-behavior: smooth;
}

.pointer{
    cursor: pointer;
}

.debuger-size{
    height: 200vh;
}

.btn-link{
    background-color: transparent;
    border: 0;
}

@import '../node_modules/bootstrap/scss/bootstrap';

// Mixins

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin on {
    animation: fadein 1s;
    display: initial;
    opacity: 1;
    z-index: -1;
}

@mixin off {
    display: none;
    opacity: 0;
    z-index: -1;
}

@keyframes fadein{
    0%{
        display: initial;
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


// Custom components

.Maintenance{
    display: flex;
    height: 100vh;
    width:  100vw;
    justify-content: center;
    align-items: center;
}

.Header{
    $sm-left-margin: 15px;
    $sm-top-margin: 25px;
    $sm-width: 75px;

    $left-margin: 25px;
    $width: 125px;

    .name{
        margin-left: $sm-left-margin + $sm-width + 5px;
        margin-top: 5px;
        @include desktop(){
            margin-left: $left-margin + $width + 10px;
        }
    }

    i{
        font-size: 1.25rem;
    }

    .fixed-profile{
        position: fixed;
        top: $sm-top-margin;
        left: $sm-left-margin;
        @include desktop(){
            left: $left-margin;
        }
        img{
            width: $sm-width; 
            @include desktop(){
                width: $width; 
            }
            border-radius: 50%;
            border: 5px solid map-get($theme-colors, 'dark');
            z-index: 99;
            position: relative;
        }
        .back{
            margin-left: 5px;
            @include off()
        }
        .back.active{
            @include on()
        }
    }
}

.Home{
    .content-index{
        width: 20%;
        position: fixed;
        right:20px;

        .index-body{
            display: none;

            &.active{
                display: initial;
            }
        }
    }
}