/* bootstrap theming */
$theme-colors: (
    "danger": rgb(245, 208, 0)
);

// Custom components

.Maintenance{
    display: flex;
    height: 100vh;
    width:  100vw;
    justify-content: center;
    align-items: center;
}

@import '../node_modules/bootstrap/scss/bootstrap';